* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1; /* testing */
}

h2 {
  font-size: 100px;
  opacity: 0.2;
}

main {
}
