@import "reset";

@font-face {
  font-family: "CooperBlack";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/CooperBlackStd.woff2") format("woff2");
}

$pink: #ffe2ee;
$dropshadow: #fcc5dc;

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  &.disable-scroll {
    overflow: hidden !important;
  }
}

body {
  overflow-x: hidden;
  font-family: "CooperBlack", Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -3; /* testing */
}

h1,
h2,
h3,
h4 {
  color: #fff;
  text-align: center;
  text-shadow: 3px 3px $dropshadow;
}

h1 {
  font-size: 4.375rem;
  text-shadow: 4px 4px $dropshadow;
}

h2 {
  font-size: 3.125rem;
  margin-bottom: 20px;
}
h3 {
  font-size: 5.625rem;
}

h4 {
  font-size: 1.75rem;
}

p {
  font-size: 1.875rem;
  text-shadow: 3px 3px $dropshadow;
  color: #fff;
  text-align: center;
}

main {
  width: 100%;
  max-width: 1440px;
  padding: 0 40px;
  margin: 0 auto;

  min-height: 100vh;
}
header {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  min-height: 100vh;

  .birthday-msg {
    position: relative;
    z-index: 5;
    max-width: 750px;
    margin: 0 auto;
  }
}

.polaroid {
  min-height: 310px;
  width: 263px;

  figure {
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  p {
    font-size: 1.625;
    text-shadow: none;
    color: #0a0a0a;
    padding: 20px 0;
  }

  &.right-tilt {
    margin-left: auto;
    .polaroid__container {
      transform: rotate(5deg);
    }
  }

  &.left-tilt {
    margin-right: auto;
    .polaroid__container {
      transform: rotate(-5deg);
    }
  }
  &__container {
    background-color: #fff;
    min-height: 310px;
    width: 263px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
}

footer {
  padding-bottom: 40px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .center {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
